<!DOCTYPE html>
<html>
    <head>
        <title>Vive le Kazakhstan!</title>
    </head>
    <body>
        <header>
            <h1><a href="/">Vive le Kazakhstan!</a></h1>
        </header>

        <article>
            <time>publication: 16.02.2024, 00:12</time>
            <h2><a href="">Ode au Kazakhstan</a></h2>
            <p>Ô mon Kazakhstan, que tu es beau! Plus belle des pierres précieuses!</p>
        </article>

        <article>
            <time>publication: 14.06.2014, 12:14</time>
            <h2><a href="">Mon second est Kazakh</a></h2>
            <p>Adilkhan Yerzhanov, fierté de ce peuple fier et indomptable!</p>
        </article>
    </body>
</html>